In [98]:
#Importar e instalar
import pandas as pd
import numpy as np
import pylab as plt   
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
import warnings
#%pip install statsmodels
warnings.filterwarnings('ignore')   # para quitar esos prints

In [99]:
data = pd.read_excel('data/IDMC_GIDD_Disasters_Internal_Displacement_Data (1).xlsx')

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13117 entries, 0 to 13116
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ISO3                                   13117 non-null  object
 1   Country / Territory                    13117 non-null  object
 2   Year                                   13117 non-null  int64
 3   Event Name                             13117 non-null  object
 4   Date of Event (start)                  13117 non-null  datetime64[ns]
 5   Disaster Internal Displacements        13117 non-null  int64
 6   Disaster Internal Displacements (Raw)  13117 non-null  int64
 7   Hazard Category                        13117 non-null  object
 8   Hazard Type                            13117 non-null  object
 9   Hazard Sub Type                        13117 non-null  object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 1.0+ MB

In [105]:
# Verificar los resultados
data.head()

,ISO3,Country / Territory,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Hazard Sub Type
0,TLS,Timor-Leste,2013,Babulu gale,2013-01-17,5,5,Weather related,Storm,Storm
1,TZA,Tanzania,2014,Arusha flood,2014-03-15,1000,1000,Weather related,Flood,Flood
2,COL,Colombia,2015,Gameza flood,2015-06-25,4,4,Weather related,Flood,Flood
3,CUB,Cuba,2015,Baracoa flood,2015-05-02,2000,2000,Weather related,Flood,Flood
4,BGD,Bangladesh,2008,Bangladesh: Flood - 01/07/2008,2008-07-01,2200,2250,Weather related,Flood,Flood

In [103]:
datas = pd.read_excel('data/IDMC_Internal_Displacement_Conflict-Violence_Disasters (2).xlsx')

In [107]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ISO3                                   794 non-null    object
 1   Name                                   794 non-null    object
 2   Year                                   794 non-null    int64
 3   Conflict Stock Displacement            760 non-null    float64
 4   Conflict Stock Displacement (Raw)      765 non-null    float64
 5   Conflict Internal Displacements        476 non-null    float64
 6   Conflict Internal Displacements (Raw)  673 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 43.5+ KB

In [114]:
datas['Hazard Sub Type'] = 'Conflict-Violence'

In [117]:
datas.head()

,ISO3,Name,Year,Conflict Stock Displacement,Conflict Stock Displacement (Raw),Conflict Internal Displacements,Conflict Internal Displacements (Raw),Hazard Sub Type
0,AB9,Abyei Area,2022,56000.0,55705.0,56000.0,55705.0,Conflict-Violence
1,AFG,Afghanistan,2022,4394000.0,4393749.0,32000.0,32424.0,Conflict-Violence
2,ARM,Armenia,2022,8400.0,8400.0,7600.0,7600.0,Conflict-Violence
3,AZE,Azerbaijan,2022,659000.0,658742.0,NaN,0.0,Conflict-Violence
4,BDI,Burundi,2022,8500.0,8495.0,600.0,601.0,Conflict-Violence

In [121]:
datos_migracion = pd.concat([data, datas], axis=0, ignore_index=True)

In [122]:
datos_migracion['Hazard Sub Type'] = 'Conflict-Violence'

In [123]:
datos_migracion

,ISO3,Country / Territory,Year,Event Name,Date of Event (start),Disaster Internal Displacements,Disaster Internal Displacements (Raw),Hazard Category,Hazard Type,Hazard Sub Type,Name,Conflict Stock Displacement,Conflict Stock Displacement (Raw),Conflict Internal Displacements,Conflict Internal Displacements (Raw)
0,TLS,Timor-Leste,2013,Babulu gale,2013-01-17,5.0,5.0,Weather related,Storm,Conflict-Violence,NaN,NaN,NaN,NaN,NaN
1,TZA,Tanzania,2014,Arusha flood,2014-03-15,1000.0,1000.0,Weather related,Flood,Conflict-Violence,NaN,NaN,NaN,NaN,NaN
2,COL,Colombia,2015,Gameza flood,2015-06-25,4.0,4.0,Weather related,Flood,Conflict-Violence,NaN,NaN,NaN,NaN,NaN
3,CUB,Cuba,2015,Baracoa flood,2015-05-02,2000.0,2000.0,Weather related,Flood,Conflict-Violence,NaN,NaN,NaN,NaN,NaN
4,BGD,Bangladesh,2008,Bangladesh: Flood - 01/07/2008,2008-07-01,2200.0,2250.0,Weather related,Flood,Conflict-Violence,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13906,UGA,NaN,2009,NaN,NaT,NaN,NaN,NaN,NaN,Conflict-Violence,Uganda,435000.0,435000.0,NaN,0.0
13907,UZB,NaN,2009,NaN,NaT,NaN,NaN,NaN,NaN,Conflict-Violence,Uzbekistan,3400.0,3400.0,NaN,0.0
13908,XKX,NaN,2009,NaN,NaT,NaN,NaN,NaN,NaN,Conflict-Violence,Kosovo,20000.0,19700.0,NaN,0.0
13909,YEM,NaN,2009,NaN,NaT,NaN,NaN,NaN,NaN,Conflict-Violence,Yemen,175000.0,175000.0,150000.0,150000.0
13910,ZWE,NaN,2009,NaN,NaT,NaN,NaN,NaN,NaN,Conflict-Violence,Zimbabwe,NaN,NaN,15000.0,15000.0

In [124]:
datos_migracion.to_csv('datos_migracion.csv', index=False)