In [15]:
#Importar e instalar
import pandas as pd
import numpy as np
import pylab as plt   
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

In [16]:
data = pd.read_csv('data/fusion_MG_UNICEF_1.0_all.csv', sep=',', encoding='utf-8')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37699 entries, 0 to 37698
Data columns (total 18 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   DATAFLOW                                                                        37699 non-null  object
 1   REF_AREA:Geographic area                                                        37699 non-null  object
 2   INDICATOR:Indicator                                                             37699 non-null  object
 3   AGE:Current age                                                                 37699 non-null  object
 4   STAT_POP:Statistical Population                                                 37699 non-null  object
 5   TIME_PERIOD:Time period                                                         37699 non-null  int64
 6   OBS_VALUE:Observation Value                                                     37699 non-null  object
 7   UNIT_MEASURE:Unit of measure                                                    37699 non-null  object
 8   UNIT_MULTIPLIER:Unit multiplier                                                 24585 non-null  object
 9   SOURCE_LINK:Citation of or link to the data source                              37699 non-null  object
 10  SERIES_FOOTNOTE:Series footnote                                                 0 non-null      float64
 11  OBS_CONF:Observation confidentaility                                            0 non-null      float64
 12  DATA_SOURCE:Data Source                                                         37699 non-null  object
 13  OBS_STATUS:Observation Status                                                   0 non-null      float64
 14  TIME_PERIOD_METHOD:Time period activity related to when the data are collected  0 non-null      float64
 15  COVERAGE_TIME:The period of time for which data are provided                    0 non-null      float64
 16  FREQ_COLL:Time interval at which the source data are collected                  0 non-null      float64
 17  OBS_FOOTNOTE:Observation footnote                                               37699 non-null  object
dtypes: float64(6), int64(1), object(11)
memory usage: 5.2+ MB

In [18]:
# Eliminar las columnas con valores nulos
df = data.dropna(axis=1)

In [19]:
# Verificar los resultados
df.head()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,SOURCE_LINK:Citation of or link to the data source,DATA_SOURCE:Data Source,OBS_FOOTNOTE:Observation footnote
0,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,1990,333,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
1,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,1995,255,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
2,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2000,126,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
3,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2005,193,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
4,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2010,247,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...

In [20]:
df.tail()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,SOURCE_LINK:Citation of or link to the data source,DATA_SOURCE:Data Source,OBS_FOOTNOTE:Observation footnote
37694,UNICEF:MG(1.0): Migration,UNICEF_MENARO: Middle East and North Africa,MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...,Y0T17: Under 18 years old,_T: Total,2020,1770322.0,PS: Persons,https://www.unrwa.org/what-we-do/relief-and-so...,The United Nations Relief and Works Agency for...,From UNRWA: UNRWA registered population dashbo...
37695,UNICEF:MG(1.0): Migration,UNICEF_MENARO: Middle East and North Africa,MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...,Y0T17: Under 18 years old,_T: Total,2021,1769762.0,PS: Persons,https://www.unrwa.org/what-we-do/relief-and-so...,The United Nations Relief and Works Agency for...,From UNRWA: UNRWA registered population dashbo...
37696,UNICEF:MG(1.0): Migration,WORLD: World,MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...,Y0T17: Under 18 years old,_T: Total,2019,1819934.0,PS: Persons,https://www.unrwa.org/what-we-do/relief-and-so...,The United Nations Relief and Works Agency for...,From UNRWA: UNRWA registered population dashbo...
37697,UNICEF:MG(1.0): Migration,WORLD: World,MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...,Y0T17: Under 18 years old,_T: Total,2020,1770322.0,PS: Persons,https://www.unrwa.org/what-we-do/relief-and-so...,The United Nations Relief and Works Agency for...,From UNRWA: UNRWA registered population dashbo...
37698,UNICEF:MG(1.0): Migration,WORLD: World,MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...,Y0T17: Under 18 years old,_T: Total,2021,1769762.0,PS: Persons,https://www.unrwa.org/what-we-do/relief-and-so...,The United Nations Relief and Works Agency for...,From UNRWA: UNRWA registered population dashbo...

In [21]:
# Contar la frecuencia de cada valor en la columna 'UNIT_MEASURE:Unit of measure'
unit_measure_counts = df['UNIT_MEASURE:Unit of measure'].value_counts()
print(unit_measure_counts)

PS: Persons                                  16971
NUMBER: Number                               12702
PCNT: %                                       7614
PER1000: Per 1000                              207
PER1USD_GNI_CAP: per 1 USD GNI per capita      205
Name: UNIT_MEASURE:Unit of measure, dtype: int64

In [22]:
# Filtrar el DataFrame original manteniendo solo las filas con 'UNIT_MEASURE:Unit of measure' igual a 'PS: Persons'
df = df[df['UNIT_MEASURE:Unit of measure'] == 'PS: Persons']

# Mostrar el DataFrame actualizado
df.head()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,SOURCE_LINK:Citation of or link to the data source,DATA_SOURCE:Data Source,OBS_FOOTNOTE:Observation footnote
0,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,1990,333,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
1,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,1995,255,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
2,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2000,126,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
3,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2005,193,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
4,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2010,247,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...

In [23]:
# Utilizar pivot_table para convertir los aÃ±os en columnas y sumar los valores
pivot_df = pd.pivot_table(df, values='OBS_VALUE:Observation Value', index=['REF_AREA:Geographic area', 'INDICATOR:Indicator', 'AGE:Current age'], columns='TIME_PERIOD:Time period', aggfunc=sum)
pivot_df.head()

TIME_PERIOD:Time period                                                                               1990  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old    3
                                                                            _T: Total                   14
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               1995  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old    4
                                                                            _T: Total                   22
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2000  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old    5
                                                                            _T: Total                   30
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2001  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old  NaN
                                                                            _T: Total                  NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2002  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old  NaN
                                                                            _T: Total                  NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2003  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old  NaN
                                                                            _T: Total                  NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2004  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old  NaN
                                                                            _T: Total                  NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2005  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old    4
                                                                            _T: Total                   33
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2006  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old  NaN
                                                                            _T: Total                  NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                               2007  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old  NaN
                                                                            _T: Total                  NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  NaN

TIME_PERIOD:Time period                                                                                ...  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age            ...
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old  ...
                                                                            _T: Total                  ...
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                  ...
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                  ...
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  ...

TIME_PERIOD:Time period                                                                                         2012  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old            NaN
                                                                            _T: Total                            NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                            NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                            NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  2400000240000

TIME_PERIOD:Time period                                                                                         2013  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old            NaN
                                                                            _T: Total                            NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                            NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                            NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  3100000310000

TIME_PERIOD:Time period                                                                                         2014  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old            NaN
                                                                            _T: Total                            NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                            NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                            NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  4000000400000

TIME_PERIOD:Time period                                                                                         2015  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old              3
                                                                            _T: Total                             36
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                            NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                            NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  5800000580000

TIME_PERIOD:Time period                                                                                         2016  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old            NaN
                                                                            _T: Total                            NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                            NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                            NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  7600000760000

TIME_PERIOD:Time period                                                                                         2017  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old            NaN
                                                                            _T: Total                            NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                            NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                            NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  6300000630000

TIME_PERIOD:Time period                                                                                           2018  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old              NaN
                                                                            _T: Total                              NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                              NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                              NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  130000001300000

TIME_PERIOD:Time period                                                                                                2019  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old                   NaN
                                                                            _T: Total                                   NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                                   NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                                   NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  15000005900002100000

TIME_PERIOD:Time period                                                                                                2020  \
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old                    11
                                                                            _T: Total                                    54
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                                   NaN
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                                   NaN
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  17000005500002300000

TIME_PERIOD:Time period                                                                                                2021
REF_AREA:Geographic area INDICATOR:Indicator                                AGE:Current age
ABW: Aruba               MG_INTNL_MG_CNTRY_DEST: International migrants,... Y0T17: Under 18 years old                   NaN
                                                                            _T: Total                                   NaN
                         MG_RFGS_CNTRY_ASYLM: Refugees, by country of as... _T: Total                                 17000
                         MG_RFGS_CNTRY_ORIGIN: Refugees, by country of o... _T: Total                                     0
AFG: Afghanistan         MG_INTERNAL_DISP_PERS: Internally displaced per... Y0T17: Under 18 years old  21000006700002800000

[5 rows x 24 columns]

In [24]:
# Eliminar filas con valores NaN
df = df.dropna()

In [25]:
# Seleccionar las columnas relevantes para la predicciÃ³n
features = ['REF_AREA:Geographic area', 'INDICATOR:Indicator', 'AGE:Current age', 'TIME_PERIOD:Time period']
target = 'OBS_VALUE:Observation Value'
X = df[features]
y = df[target]

In [26]:
# CodificaciÃ³n one-hot de las variables categÃ³ricas
encoder = OneHotEncoder(sparse=False)
X_encoded = pd.DataFrame(encoder.fit_transform(X.select_dtypes(include=['object'])))
X_encoded.columns = encoder.get_feature_names(X.select_dtypes(include=['object']).columns)
X_numeric = pd.concat([X.select_dtypes(exclude=['object']), X_encoded], axis=1)

In [27]:
'''
# Crear una copia del DataFrame filtrado
df_prediccion= df.copy()
'''

'\n# Crear una copia del DataFrame filtrado\ndf_prediccion= df.copy()\n'

In [28]:
'''
# Convertir la columna 'TIME_PERIOD:Time period' en tipo datetime
df['TIME_PERIOD:Time period'] = pd.to_datetime(df['TIME_PERIOD:Time period'], format='%Y')

SyntaxError: EOF while scanning triple-quoted string literal (3720330688.py, line 3)

In [ ]:
'''
# Eliminar las filas con valores no numÃ©ricos en la columna 'OBS_VALUE:Observation Value'
df_prediccion = df_prediccion.dropna(subset=['OBS_VALUE:Observation Value'])

In [ ]:
'''
# Convertir los valores no numÃ©ricos en NaN en la columna 'OBS_VALUE:Observation Value'
df_prediccion['OBS_VALUE:Observation Value'] = pd.to_numeric(df_prediccion['OBS_VALUE:Observation Value'], errors='coerce')

In [ ]:
'''
# Filtrar los datos histÃ³ricos
df_historico = df[df['TIME_PERIOD:Time period'].dt.year < 2022]

# Filtrar los datos para la predicciÃ³n
df_prediccion = df[df['TIME_PERIOD:Time period'].dt.year >= 2022]

In [ ]:
'''
# Crear el modelo de regresiÃ³n lineal
modelo = LinearRegression()

In [ ]:
'''
# Entrenar el modelo utilizando los datos histÃ³ricos
X = df_historico['OBS_VALUE:Observation Value'].dt.year.values.reshape(-1, 1)
y = df_historico['TIME_PERIOD:Time period'].values.reshape(-1, 1)
modelo.fit(X, y)
'''

"\n# Entrenar el modelo utilizando los datos histÃ³ricos\nX = df_historico['OBS_VALUE:Observation Value'].dt.year.values.reshape(-1, 1)\ny = df_historico['TIME_PERIOD:Time period'].values.reshape(-1, 1)\nmodelo.fit(X, y)\n"

In [ ]:
'''
# Realizar la predicciÃ³n para los datos del 2022
X_prediccion = df_prediccion['TIME_PERIOD:Time period'].dt.year.values.reshape(-1, 1)
y_prediccion = modelo.predict(X_prediccion)
'''

"\n# Realizar la predicciÃ³n para los datos del 2022\nX_prediccion = df_prediccion['TIME_PERIOD:Time period'].dt.year.values.reshape(-1, 1)\ny_prediccion = modelo.predict(X_prediccion)\n"

In [ ]:
'''
if not df_historico.empty:
    # Realizar la predicciÃ³n para los datos del 2022
    X_prediccion = df_prediccion['TIME_PERIOD:Time period'].dt.year.values.reshape(-1, 1)
    y_prediccion = modelo.predict(X_prediccion)

    # Agregar las predicciones al DataFrame de predicciÃ³n
    df_prediccion['OBS_VALUE:Observation Value'] = y_prediccion

    # Combinar los datos histÃ³ricos y las predicciones en un Ãºnico DataFrame
    df_final = pd.concat([df_historico, df_prediccion])

    # Restaurar el orden original de las filas
    df_final = df_final.sort_index().reset_index(drop=True)

    # Mostrar el DataFrame con las predicciones para 2022
    print(df_final)
else:
    print("No hay suficientes datos histÃ³ricos para realizar la predicciÃ³n.")
    '''

'\nif not df_historico.empty:\n    # Realizar la predicciÃ³n para los datos del 2022\n    X_prediccion = df_prediccion[\'TIME_PERIOD:Time period\'].dt.year.values.reshape(-1, 1)\n    y_prediccion = modelo.predict(X_prediccion)\n\n    # Agregar las predicciones al DataFrame de predicciÃ³n\n    df_prediccion[\'OBS_VALUE:Observation Value\'] = y_prediccion\n\n    # Combinar los datos histÃ³ricos y las predicciones en un Ãºnico DataFrame\n    df_final = pd.concat([df_historico, df_prediccion])\n\n    # Restaurar el orden original de las filas\n    df_final = df_final.sort_index().reset_index(drop=True)\n\n    # Mostrar el DataFrame con las predicciones para 2022\n    print(df_final)\nelse:\n    print("No hay suficientes datos histÃ³ricos para realizar la predicciÃ³n.")\n    '