In [118]:
#Importar e instalar
import pandas as pd
import numpy as np
import pylab as plt   
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
from scipy.interpolate import interp1d
import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

In [119]:
data = pd.read_csv('data/fusion_MG_UNICEF_1.0_all.csv', sep=',', encoding='utf-8')
dataglob = pd.read_csv('data/fusion_GLOBAL_DATAFLOW_UNICEF_1.0_all.csv', sep=',', encoding='utf-8')

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37699 entries, 0 to 37698
Data columns (total 18 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   DATAFLOW                                                                        37699 non-null  object
 1   REF_AREA:Geographic area                                                        37699 non-null  object
 2   INDICATOR:Indicator                                                             37699 non-null  object
 3   AGE:Current age                                                                 37699 non-null  object
 4   STAT_POP:Statistical Population                                                 37699 non-null  object
 5   TIME_PERIOD:Time period                                                         37699 non-null  int64
 6   OBS_VALUE:Observation Value                                                     37699 non-null  object
 7   UNIT_MEASURE:Unit of measure                                                    37699 non-null  object
 8   UNIT_MULTIPLIER:Unit multiplier                                                 24585 non-null  object
 9   SOURCE_LINK:Citation of or link to the data source                              37699 non-null  object
 10  SERIES_FOOTNOTE:Series footnote                                                 0 non-null      float64
 11  OBS_CONF:Observation confidentaility                                            0 non-null      float64
 12  DATA_SOURCE:Data Source                                                         37699 non-null  object
 13  OBS_STATUS:Observation Status                                                   0 non-null      float64
 14  TIME_PERIOD_METHOD:Time period activity related to when the data are collected  0 non-null      float64
 15  COVERAGE_TIME:The period of time for which data are provided                    0 non-null      float64
 16  FREQ_COLL:Time interval at which the source data are collected                  0 non-null      float64
 17  OBS_FOOTNOTE:Observation footnote                                               37699 non-null  object
dtypes: float64(6), int64(1), object(11)
memory usage: 5.2+ MB

In [121]:
# Eliminar las columnas con valores nulos
df = data.dropna(axis=1)

In [122]:
# Verificar los resultados
df.head()

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,SOURCE_LINK:Citation of or link to the data source,DATA_SOURCE:Data Source,OBS_FOOTNOTE:Observation footnote
0,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,1990,333,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
1,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,1995,255,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
2,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2000,126,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
3,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2005,193,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
4,UNICEF:MG(1.0): Migration,BDI: Burundi,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,2010,247,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...

In [123]:
# Eliminar las filas que contienen "total" en la columna "AGE"
df = df[~df['AGE:Current age'].str.contains('_T: Total', case=False)]

In [124]:
# Eliminar la columna "DATAFLOW"
df = df.drop("DATAFLOW", axis=1)

In [125]:
# Contar la frecuencia de cada valor en la columna 'UNIT_MEASURE:Unit of measure'
unit_measure_counts = df['UNIT_MEASURE:Unit of measure'].value_counts()
print(unit_measure_counts)

PS: Persons       8286
NUMBER: Number    6351
Name: UNIT_MEASURE:Unit of measure, dtype: int64

In [126]:
# Filtrar el DataFrame original manteniendo solo las filas con 'UNIT_MEASURE:Unit of measure' igual a 'PS: Persons'
df = df[df['UNIT_MEASURE:Unit of measure'] == 'PS: Persons']

# Mostrar el DataFrame actualizado
df.head()

,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MEASURE:Unit of measure,SOURCE_LINK:Citation of or link to the data source,DATA_SOURCE:Data Source,OBS_FOOTNOTE:Observation footnote
1742,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,1990,15,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
1743,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,1995,18,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
1744,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2000,19,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
1745,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2005,22,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...
1746,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2010,25,PS: Persons,https://www.un.org/development/desa/pd/content...,United Nations Department of Economic and Soci...,235 countries/areas where migration data avail...

In [127]:
# Utilizar la función pivot para convertir la columna "time_period" en columnas separadas
data_pivot = data.pivot(index=['REF_AREA:Geographic area', 'INDICATOR:Indicator', 'AGE:Current age', 'STAT_POP:Statistical Population'],
                        columns='TIME_PERIOD:Time period',
                        values='OBS_VALUE:Observation Value')

# Restablecer el índice del DataFrame resultante
data_pivot = data_pivot.reset_index()

# Imprimir el resultado
data_pivot.head()

TIME_PERIOD:Time period,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,1990,1995,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ABW: Aruba,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,3,4,5,NaN,NaN,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,11,NaN
1,ABW: Aruba,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,SH_NAT_POP: Share of National Total Population,23,28,33,NaN,NaN,NaN,...,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,50,NaN
2,ABW: Aruba,MG_INTNL_MG_CNTRY_DEST: International migrants...,_T: Total,_T: Total,14,22,30,NaN,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,54,NaN
3,ABW: Aruba,"MG_RFGS_CNTRY_ASYLM: Refugees, by country of a...",_T: Total,_T: Total,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17000
4,ABW: Aruba,MG_RFGS_CNTRY_ASYLM_PER1000: Refugees by host ...,_T: Total,_T: Total,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160

In [128]:
df = df.drop('SOURCE_LINK:Citation of or link to the data source',axis=1)

In [129]:
df = df.drop('DATA_SOURCE:Data Source', axis=1)

In [130]:
df = df.drop('OBS_FOOTNOTE:Observation footnote', axis=1)

In [131]:
df = df.drop('UNIT_MEASURE:Unit of measure', axis=1)

In [132]:
df.head()

,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,TIME_PERIOD:Time period,OBS_VALUE:Observation Value
1742,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,1990,15
1743,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,1995,18
1744,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2000,19
1745,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2005,22
1746,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2010,25

In [133]:
df.to_csv('nuevo_migration.csv', index=False)

In [134]:
pdata = pd.read_csv('nuevo_migration.csv', sep=',', encoding='utf-8')

In [135]:
pdata.head()

,REF_AREA:Geographic area,INDICATOR:Indicator,AGE:Current age,STAT_POP:Statistical Population,TIME_PERIOD:Time period,OBS_VALUE:Observation Value
0,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,1990,15
1,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,1995,18
2,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2000,19
3,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2005,22
4,AFG: Afghanistan,MG_INTNL_MG_CNTRY_DEST: International migrants...,Y0T17: Under 18 years old,_T: Total,2010,25

In [137]:
# Seleccionar las columnas de años para el entrenamiento del modelo
years = df_filtered.columns[5:]

# Crear una lista vacía para almacenar las predicciones
predicciones_2022 = []

# Iterar sobre las filas del DataFrame filtrado
for _, row in df_filtered.iterrows():
    # Obtener los valores observados y eliminar los valores faltantes
    observados_str = row['OBS_VALUE:Observation Value']
    
    # Verificar si el valor es un solo número o una cadena separada por comas
    if ',' in observados_str:
        observados = pd.to_numeric(observados_str.split(','), errors='coerce').dropna().values
    else:
        observados = np.array([pd.to_numeric(observados_str, errors='coerce')])
    
    if len(observados) > 1:
        # Interpolar los valores observados
        x = list(range(len(observados)))
        f = interp1d(x, observados, kind='linear')
        
        # Realizar la predicción para el año 2022
        prediccion_2022 = f(len(observados))
        
        # Agregar la predicción a la lista
        predicciones_2022.append(prediccion_2022)
    elif len(observados) == 1:
        # Si solo hay un valor observado, se toma como la predicción para el año 2022
        predicciones_2022.append(observados[0])
    else:
        # Si no hay valores observados, se establece como None
        predicciones_2022.append(None)

# Agregar las predicciones al DataFrame filtrado
df_filtered['Prediccion_2022'] = predicciones_2022

# Mostrar los resultados
print(df_filtered)

                         REF_AREA:Geographic area  \
0                                AFG: Afghanistan
1                                AFG: Afghanistan
2                                AFG: Afghanistan
3                                AFG: Afghanistan
4                                AFG: Afghanistan
...                                           ...
8281  UNICEF_MENARO: Middle East and North Africa
8282  UNICEF_MENARO: Middle East and North Africa
8283                                 WORLD: World
8284                                 WORLD: World
8285                                 WORLD: World

                                    INDICATOR:Indicator  \
0     MG_INTNL_MG_CNTRY_DEST: International migrants...
1     MG_INTNL_MG_CNTRY_DEST: International migrants...
2     MG_INTNL_MG_CNTRY_DEST: International migrants...
3     MG_INTNL_MG_CNTRY_DEST: International migrants...
4     MG_INTNL_MG_CNTRY_DEST: International migrants...
...                                                 ...
8281  MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...
8282  MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...
8283  MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...
8284  MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...
8285  MG_UNRWA_RFGS_CNTRY_ASYLM: Refugees under UNRW...

                AGE:Current age STAT_POP:Statistical Population  \
0     Y0T17: Under 18 years old                       _T: Total
1     Y0T17: Under 18 years old                       _T: Total
2     Y0T17: Under 18 years old                       _T: Total
3     Y0T17: Under 18 years old                       _T: Total
4     Y0T17: Under 18 years old                       _T: Total
...                         ...                             ...
8281  Y0T17: Under 18 years old                       _T: Total
8282  Y0T17: Under 18 years old                       _T: Total
8283  Y0T17: Under 18 years old                       _T: Total
8284  Y0T17: Under 18 years old                       _T: Total
8285  Y0T17: Under 18 years old                       _T: Total

      TIME_PERIOD:Time period OBS_VALUE:Observation Value  Prediccion_2022
0                        1990                          15             15.0
1                        1995                          18             18.0
2                        2000                          19             19.0
3                        2005                          22             22.0
4                        2010                          25             25.0
...                       ...                         ...              ...
8281                     2020                   1770322.0        1770322.0
8282                     2021                   1769762.0        1769762.0
8283                     2019                   1819934.0        1819934.0
8284                     2020                   1770322.0        1770322.0
8285                     2021                   1769762.0        1769762.0

[8286 rows x 7 columns]

In [138]:
df_filtered.to_csv('predict_migration.csv', index=False)